body
{
  display: flex;
  background-color:black ;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
h3,h4,h5
{
    color:white ;
}
h1
{
    color:red ;
}
footer
{
    align-items: center;
    height: 50px;
  background-color: red;
}
.container
{
  border: solid red 2px;
  width: 80%;
}
html, body {
  height: 100%; /* Ensure full height of the viewport */
  margin: 0; /* Remove default margins */
}
h5{
  text-align: left;
}
.highlights
{
  
  justify-content: center;
  align-items: center;
  justify-content:center ;
  display: flex;
  text-align: center; 
}
.description
{
  width: 402px;
}
